# Deno
.env
.env.local
.env.production.local
.env.test.local
.env.development.local

# Deno cache directories
.deno/
deno-*/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/

# Database files
*.sqlite
*.sqlite3
*.db-journal

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Cursor specific
.cursor/

# Coverage directory used by tools like istanbul
coverage/

# Debug tool
debug/

libro.db

/target/
/libro-cli/target/
